<template>
  <b-navbar>
    <b-navbar-brand href="#"><img src="/public/img/logo.jpg"></b-navbar-brand>
      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item :to="'/logowanie'">Zaloguj się</b-nav-item>
          <b-nav-item :to="'/admin/masaze'">Masaże</b-nav-item>
          <b-nav-item :to="'/admin/oferty'">Oferty</b-nav-item>
        </b-navbar-nav>
      </b-collapse>
  </b-navbar>
</template>

<script>
    export default {
        name: "AdminNavbar"
    }
</script>

<style scoped>

</style>
