<template>
  <div>
    <b-nav tabs fill>
      <b-nav-item :to="{ name: 'AdminMassages' }">Masaże</b-nav-item>
      <b-nav-item :to="{ name: 'AdminOffers' }">Oferty</b-nav-item>
    </b-nav>
    <keep-alive>
      <router-view></router-view>
    </keep-alive>
  </div>
</template>

<script>
    export default {
        name: "AdminPanel"
    }
</script>

<style scoped>

</style>
