<template>
  <div>
    <b-form
      ref="login_form"
      @submit.stop.prevent="handleForm">
      <b-form-group label="Podaj swoją nazwę użytkownika" label-for="user_email">
        <b-form-input
          type="text"
          id="user_name"
          placeholder="Użytkownik"
          v-model="user.username"
          required
          autofocus></b-form-input>
      </b-form-group>
      <b-form-group label="Podaj swoje hasło" label-for="user_password">
        <b-form-input
          type="password"
          id="user_password"
          placeholder="Hasło"
          v-model="user.password"
          required></b-form-input>
      </b-form-group>
      <b-button
        type="submit"
        variant="primary"
        id="login_submit">
        Zaloguj się
      </b-button>
    </b-form>
  </div>
</template>

<script>
    export default {
        name: "Login",
        data: function () {
            return {
                user: {
                    username: null,
                    password: null
                }
            }
        },
        methods: {
            handleForm: function() {
                this.$http.post(`/auth/token/login`, this.user)
                    .then(() => {
                        console.log('successful login');
                    })
                    .catch((err) => {
                        console.log(err);
                    })
            }
        }
    }
</script>

<style scoped>

</style>
