<template>
  <div>
    <b-row class="mt-2">
      <b-col>
        <b-input type="text"
                 v-model="params.name"
                 placeholder="Szukaj masażu"></b-input>
      </b-col>
    </b-row>
    <b-row class="mt-1 mb-1">
      <b-col cols="12" lg="8">
        <b-button type="button" class="w-100" variant="primary" v-b-modal.add-massage-modal>
          Dodaj masaż
        </b-button>
      </b-col>
      <b-col cols="12" lg="4" class="mt-1 m-lg-0">
        <b-pagination
          v-model="params.page"
          :total-rows="count"
          :per-page="10"
          aria-controls="table"
          align="fill"></b-pagination>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <b-table
          id="table"
          :items="massages"
          :fields="fields"
          :hover="true"
          :sort-by.sync="params.order"
          :sort-desc.sync="params.desc"
          :no-local-sorting="true">
          <template slot="[action]" slot-scope="massage">
            <button class="btn btn-info mr-1" @click="getMassage(massage.item.id)">Edytuj</button>
            <click-confirm
              class="d-inline-block mt-1 mt-lg-0"
              no-class="d-none"
              placement="right"
              yes-class="btn btn-danger"
              button-size="sm"
              :messages="{title: '', yes: 'Potwierdź'}">
              <button class="btn btn-danger" @click="deleteMassage(massage.item.id)">Usuń</button>
            </click-confirm>
          </template>
        </b-table>
        <massage-modal
          :id="'add-massage-modal'"
          :title="'Dodaj masaż'"
          :ok_title="'Zapisz'"
          :cancel_title="'Zamknij'"
          @ok-foo="addMassage()"
          :massage="newMassage"></massage-modal>
        <massage-modal
          :id="'edit-massage-modal'"
          :title="'Edytuj masaż'"
          :ok_title="'Zapisz'"
          :cancel_title="'Zamknij'"
          @ok-foo="updateMassage()"
          :massage="currentMassage"></massage-modal>
      </b-col>
    </b-row>
  </div>
</template>

<script>
    import _ from 'lodash'

    export default {
        name: "AdminMassages",
        data: function () {
            return {
                massages: [],
                fields: [
                    { key: 'id', label: '#', sortable: true},
                    { key: 'name', label: 'Nazwa', sortable: true},
                    { key: 'action', label: 'Akcja'}
                ],
                params: {
                    name: null,
                    order: null,
                    desc: null,
                    page: null
                },
                count: null,
                currentMassage: {},
                message: null,
                newMassage: {
                    name: null,
                    description: null
                }
            }
        },
        watch: {
            params: {
                handler: _.debounce(function () {
                  this.getMassages();
                }, 200),
                deep: true
            }
        },
        mounted: function () {
            this.getMassages();
        },
        components: {
            'massage-modal': () => import('./massage-modal'),
            'click-confirm': () => import('click-confirm')
        },
        methods: {
            getMassages: function () {
                let params = {};
                if (this.params.name !== null) {
                    params.name = this.params.name;
                }
                if (this.params.order !== null) {
                    let prefix = this.params.desc !== null && this.params.desc === true ? '-' : '';
                    params.ordering = prefix + this.params.order;
                }
                if (this.params.page !== null) {
                    params.page = this.params.page;
                }
                this.$http.get(`/api/massages/`, { params })
                    .then((response) => {
                        this.massages = response.data.results;
                        this.count = response.data.count;
                    })
                    .catch((err) => {
                        console.log(err);
                    })
            },
            getMassage: function (id) {
                this.$http.get(`/api/massages/${id}/`)
                    .then((response) => {
                        this.currentMassage = response.data;
                        this.$bvModal.show('edit-massage-modal');
                    })
                    .catch((err) => {
                        console.log(err);
                    })
            },
            addMassage: function () {
                this.$http.post(`/api/massages/`, this.newMassage)
                    .then((response) => {
                        this.getMassages();
                        this.$bvModal.hide('add-massage-modal');
                    })
                    .catch((err) => {
                        console.log(err);
                    })
                    .finally(() => {
                        this.newMassage.name = '';
                        this.newMassage.description = '';
                    })
            },
            updateMassage: function () {
                this.$http.put(`/api/massages/${this.currentMassage.id}/`, this.currentMassage)
                    .then((response) => {
                        this.currentMassage = response.data;
                        this.getMassages();
                        this.$bvModal.hide('edit-massage-modal');
                    })
                    .catch((err) => {
                        console.log(err);
                    })
            },
            deleteMassage: function (id) {
                this.$http.delete(`/api/massages/${id}/`)
                    .then((response) => {
                        this.getMassages();
                    })
                    .catch((err) => {
                        console.log(err);
                    })
            }
        }
    }
</script>

<style scoped>

</style>
