<template>
  <b-modal :id="id" :title="title" centered
           :ok-title="ok_title"
           :cancel-title="cancel_title"
           @ok.prevent="handleOk">
    <b-form
      ref="modal_form"
      @submit.stop.prevent="handleForm">
      <b-form-group label="Nazwa masażu" label-for="massage_name">
        <b-form-input
          type="text"
          id="massage_name"
          placeholder="Wprowadź nazwę masażu"
          v-model="massage.name"
          required="required"
          autofocus></b-form-input>
      </b-form-group>
      <b-form-group label="Opis masażu" label-for="massage_description">
        <b-form-textarea
          id="massage_description"
          placeholder="Wprowadź opis masażu"
          v-model="massage.description"
          required="required"
          rows="3"></b-form-textarea>
      </b-form-group>
    </b-form>
  </b-modal>
</template>

<script>
    export default {
        name: "MassageModal",
        props: ['id', 'title', 'ok_title', 'cancel_title', 'massage'],
        methods: {
            checkFormValidity: function() {
                return this.$refs['modal_form'].checkValidity()
            },
            handleOk: function () {
                this.handleForm()
            },
            handleForm: function() {
                if (!this.checkFormValidity()) {
                    this.$refs['modal_form'].reportValidity();
                    return
                }
                this.$emit('ok-foo')
            }
        }
    }
</script>

<style scoped>

</style>
