<template>
  <div>
    <b-row class="mt-2">
      <b-col cols="12" lg="8">
        <b-input type="text"
                 v-model="params.name"
                 placeholder="Szukaj oferty"></b-input>
      </b-col>
      <b-col class="mt-1 mt-lg-0">
          <b-form-radio-group class="w-100"
            buttons
            :options="visibleOptions"
            v-model="params.visible"
            button-variant="outline-primary">
          </b-form-radio-group>
      </b-col>
    </b-row>
    <b-row class="mt-1 mb-1">
      <b-col cols="12" lg="8">
        <b-button type="button" class="w-100" variant="primary" v-b-modal.add-offer-modal>
          Dodaj ofertę
        </b-button>
      </b-col>
      <b-col cols="12" lg="4" class="mt-1 mt-lg-0">
        <b-pagination
          v-model="params.page"
          :total-rows="count"
          :per-page="10"
          aria-controls="table"
          align="fill"></b-pagination>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <b-table
          id="table"
          responsive
          :items="offers"
          :fields="fields"
          :hover="true"
          :sort-by.sync="params.order"
          :sort-desc.sync="params.desc"
          :no-local-sorting="true">
          <template slot="[action]" slot-scope="offer">
            <button class="btn btn-info mr-1" @click="getOffer(offer.item.id)">Edytuj</button>
            <click-confirm
              class="d-inline-block mt-1 mt-lg-0"
              no-class="d-none"
              placement="right"
              yes-class="btn btn-danger"
              button-size="sm"
              :messages="{title: '', yes: 'Potwierdź'}">
              <button class="btn btn-danger" @click="deleteOffer(offer.item.id)">Usuń</button>
            </click-confirm>
          </template>
          <template slot="[visible]" slot-scope="offer">
            <p v-if="offer.item.visible">&#10004;</p>
            <p v-else>&#10060;</p>
          </template>
        </b-table>
        <offer-modal
          :id="'add-offer-modal'"
          :title="'Dodaj ofertę'"
          :ok_title="'Zapisz'"
          :cancel_title="'Zamknij'"
          @ok-foo="addOffer()"
          :offer="newOffer"></offer-modal>
        <offer-modal
          :id="'edit-offer-modal'"
          :title="'Edytuj ofertę'"
          :ok_title="'Zapisz'"
          :cancel_title="'Zamknij'"
          @ok-foo="updateOffer()"
          :offer="currentOffer"></offer-modal>
      </b-col>
    </b-row>
  </div>
</template>

<script>
    import _ from 'lodash'

    export default {
        name: "AdminOffers",
        data: function () {
            return {
                offers: [],
                fields: [
                    { key: 'id', label: '#', sortable: true },
                    { key: 'name', label: 'Nazwa', sortable: true },
                    { key: 'length', label: 'Długość', sortable: true },
                    { key: 'price', label: 'Cena', sortable: true },
                    { key: 'massage__name', label: 'Masaż', sortable: true },
                    { key: 'visible', label: 'Widoczne', sortable: true },
                    { key: 'action', label: 'Akcja' },

                ],
                params: {
                    name: null,
                    order: null,
                    desc: null,
                    page: null,
                    visible: null
                },
                visibleOptions: [
                    { text: 'N/A', value: null },
                    { text: 'Widoczne', value: true },
                    { text: 'Niewidoczne', value: false }
                ],
                count: null,
                currentOffer: {},
                offer: null,
                newOffer: {
                    'name': null,
                    'length': null,
                    'price': null,
                    'offer': null,
                    'massage': null
                }
            }
        },
        watch: {
            params: {
                handler: _.debounce(function () {
                  this.getOffers();
                }, 200),
                deep: true
            }
        },
        mounted: function () {
            this.getOffers();
        },
        components: {
            'offer-modal': () => import('./offer-modal'),
            'click-confirm': () => import('click-confirm')
        },
        methods: {
            getOffers: function () {
                let params = {};
                if (this.params.name !== null) {
                    params.name = this.params.name;
                }
                if (this.params.visible !== null) {
                    params.visible = this.params.visible;
                }
                if (this.params.order !== null) {
                    let prefix = this.params.desc !== null && this.params.desc === true ? '-' : '';
                    params.ordering = prefix + this.params.order;
                }
                if (this.params.page !== null) {
                    params.page = this.params.page;
                }
                this.$http.get(`/api/offers/`, { params })
                    .then((response) => {
                        this.offers = response.data.results;
                        this.count = response.data.count;
                    })
                    .catch((err) => {
                        console.log(err);
                    })
            },
            getOffer: function (id) {
                this.$http.get(`/api/offers/${id}/`)
                    .then((response) => {
                        this.currentOffer = response.data;
                        this.$bvModal.show('edit-offer-modal');
                    })
                    .catch((err) => {
                        console.log(err);
                    })
            },
            addOffer: function () {
                this.$http.post(`/api/offers/`, this.newOffer)
                    .then((response) => {
                        this.getOffers();
                        this.$bvModal.hide('add-offer-modal');
                    })
                    .catch((err) => {
                        console.log(err);
                    })
                    .finally(() => {
                        this.newOffer.name = null;
                        this.newOffer.length = null;
                        this.newOffer.price = null;
                        this.newOffer.massage = null;
                    })
            },
            updateOffer: function () {
                this.$http.put(`/api/offers/${this.currentOffer.id}/`, this.currentOffer)
                    .then((response) => {
                        this.currentOffer = response.data;
                        this.getOffers();
                        this.$bvModal.hide('edit-offer-modal');
                    })
                    .catch((err) => {
                        console.log(err);
                    })
            },
            deleteOffer: function (id) {
                this.$http.delete(`/api/offers/${id}/`)
                    .then((response) => {
                        this.getOffers();
                    })
                    .catch((err) => {
                        console.log(err);
                    })
            }
        }
    }
</script>

<style scoped>

</style>
