<template>
  <b-modal :id="id" :title="title" centered
           :ok-title="ok_title"
           :cancel-title="cancel_title"
           @ok.prevent="handleOk">
    <b-form
      ref="modal_form"
      @submit.stop.prevent="handleForm">
      <b-form-group label="Nazwa oferty" label-for="offer_name">
        <b-form-input
          type="text"
          id="offer_name"
          placeholder="Wprowadź nazwę oferty"
          v-model="offer.name"
          required="required"
          autofocus></b-form-input>
      </b-form-group>
      <b-form-group label="Dłuość trwania" label-for="offer_length">
        <b-input-group append="godzin">
          <b-form-input
            id="offer_length"
            placeholder="Wprowadź długość trwania oferty"
            v-model="offer.length"
            type="number"
            min="0"
            required="required"></b-form-input>
        </b-input-group>
      </b-form-group>
      <b-form-group label="Cena" label-for="offer_price">
        <b-input-group append="zł">
          <b-form-input
            id="offer_price"
            placeholder="Wprowadź cenę"
            v-model="offer.price"
            type="number"
            min="0"
            required="required"></b-form-input>
        </b-input-group>
      </b-form-group>
      <b-form-group label="Widoczność oferty" label-for="offer_visible">
        <b-form-checkbox
          id="offer_visible"
          placeholder="Widoczna"
          v-model="offer.visible"
          min="0"
          required="required">Oferta jest widoczna</b-form-checkbox>
      </b-form-group>
      <b-form-group label="Masaż" label-for="offer_massage">
        <b-form-select
          id="offer_massage"
          placeholder="Wybierz masaż"
          v-model="offer.massage"
          required="required">
          <option
            v-for="massage in massages"
            :value="massage.id"
            :key="massage.id">{{ massage.name }}
          </option>
        </b-form-select>
      </b-form-group>
    </b-form>
  </b-modal>
</template>

<script>
    export default {
        name: "OfferModal",
        props: ['id', 'title', 'ok_title', 'cancel_title', 'offer'],
        data: function () {
            return {
                massages: null
            }
        },
        mounted() {
            this.$http.get(`/api/massages/`, { params: { all: true } })
                .then((response) => {
                    this.massages = response.data;
                })
                .catch((err) => {
                    console.log(err);
                })
        },
        methods: {
            checkFormValidity: function() {
                return this.$refs['modal_form'].checkValidity()
            },
            handleOk: function () {
                this.handleForm()
            },
            handleForm: function() {
                if (!this.checkFormValidity()) {
                    this.$refs['modal_form'].reportValidity();
                    return
                }
                this.$emit('ok-foo');
            }
        }
    }
</script>

<style scoped>

</style>
