{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ShanTree</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% render_bundle 'main' 'css' %}
</head>
<body>

<div id="starting">
    <component :is="currentNavbar"></component>
    <div class="container">
        <router-view></router-view>
    </div>
</div>

{% render_bundle 'main' 'js' %}
</body>
</html>
