$text-color: #fff;
$primary: #D9AC1C;
$primary-lighter: #E9C348;
$primary-darker: #AD860D;
$info: #FFDE75;
$brown: #1B1107;
$danger: #AD470D;

$table-border-color: #343434;


@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/bootstrap-vue/src/index.scss';

@import '../node_modules/nprogress/nprogress.css';

nav {
  margin-bottom: 1em;
  background-color: $brown !important;
  .nav-link {
    color: $primary-darker !important;
    &.active {
      color: $primary-lighter !important;
    }
  }
  .navbar-brand {
    img {
      height: 50px;
    }
  }
}

.table {
  th {
    border-top: none;
  }
}

